@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900;
  @apply text-zinc-100;
  @apply p-3;
}

.tags-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

//Animação banner
@import "../styles/animations/saudacoes.scss";