@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900;
  @apply text-zinc-100;
}

.tags-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.banner {
  background-image: url("../../public/images/banner-bg.png");
}

.terreno {
  background-image: url('../../public/images/projects-banner/Terreno.svg');
}

.montanha {
  background-image: url('../../public/images/projects-banner/Montanhas.svg');
}

.ceu {
  background-image: url('../../public/images/projects-banner/CeuNoturno.png');
}

.galaxy {
  background-image: url("../../public/images/galaxy.png");
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800;
   @apply rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

//Animação banner
@import "../styles/animations/animations.scss";
@import "../styles/animations//stars.scss"